body {
    margin: 0;
    padding: 0;
}

.pageContainer {
    width: 100vw;
    font-family: 'Roboto Condensed', sans-serif;
}

.headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 168, 78);
    /* border: 1px solid black; */
}

.ryParisLogo {
    margin-left: 90px;
    height: 100px;
    object-fit: contain;
}

.ryParisImg {
    height: 100%;
    width: 100%;
}

.navBar {
    display: flex;
    align-items: right;
    margin-right: 85px;
}

.navMenu {
    justify-content: right;
    margin: 0px 20px;
    color: rgb(47,44,42);
    text-decoration: none;
    font-size: 20px;
}

.topImg {
    background-image: url(/images/hero-image.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 560px;
    margin-top: 3px;
}

.whiteImgText {
    background-color: white;
    padding: 5px;
    margin-bottom: 76px;
    margin-right: 80px;
    text-align: center;
    letter-spacing: 3px;
    width: 580px;
    font-size: 42px;
    font-weight: 700;
}