body {
    margin: 0;
    padding: 0;
}

.pageContainer {
    overflow-x: none;
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 168, 78);
}

.ryParisLogo {
    margin-left: 90px;
    height: 100px;
    object-fit: contain;
}

.ryParisImg {
    height: 100%;
    width: 100%;
}

.navBar {
    display: flex;
    align-items: right;
    margin-right: 85px;
}

.navMenu {
    justify-content: right;
    margin: 0px 20px;
    color: rgb(47,44,42);
    text-decoration: none;
    font-size: 20px;
}

.topImg {
    background-image: url(./images/hero-image.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 465px;
    margin-top: 3px;
}

.recipeTopImg {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.topImgBanner {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.whiteImgTextTwo {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 34px;
    font-weight: 700;
    position: absolute;
    z-index: 10;
    top: 390px;
    left: 380px;
}

.whiteImgText {
    background-color: white;
    padding: 5px;
    margin-bottom: 76px;
    margin-right: 80px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 34px;
    font-weight: 700;
}

.recipeTopImgBottom {
    background-color: rgb(220, 223, 233);
    width: 100%;
    margin: auto;
    padding-bottom: 25px;
}

.recipeTime {
    font-weight: 700;
    font-size: 28px;
    padding-top: 25px;
    margin-left: 90px;
}

.recipeTopText {
    display: flex;
    margin-left: 92px;
    font-size: 20px;
}


.recipeTopItems {
    margin-right: 155px;
    margin-top: 10px;
}

.prepLine {
    margin-left: 15px;
}


.everydayCat {
    box-sizing: border-box;
    overflow-x: none;
    padding: 25px;
    width: 85%;
    margin: auto;
}

.everydayTitle {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 700;
}

.everydayText {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
}

.imgContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.imgWrap {
    height: 250px;
    width: 300px;
    overflow: hidden;

}

.smallImgs {
    height: 100%;
    width: 300px;
    object-fit: cover;
}

.breakfastImg {
    transform: scale(1.1);
    width: 330px;
}

.smallImgTxt {
    margin-top: 20px;
    margin-left: 25px;
    font-weight: 700;
    font-size: 19px;
    width: 245px;
    text-align: center;
}

.coldWeatherTxt {
    margin-left: 0px;
    width: 100%;
}

.healthyRecipesCat {
    background-color: rgb(220, 223, 233);
    width: 100%;
    margin: auto;
}

.healthyRecipeHeader {
    margin-top: 25px;
    padding-top: 25px;
}

.healthyTitle {
    overflow-x: none;
    margin-top: 15px;
    margin-left: 110px;
    font-size: 35px;
    font-weight: 700;
}

.healthyText {
    margin-top: 10px;
    margin-left: 110px;
    margin-right: 55px;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 400;
}

.healthySelection {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 110px;
    padding-bottom: 55px;
    width: 83%;
}

.healthyImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.healthyImgWrap {
    height: 175px;
    width: 220px;
    overflow: hidden;
}

.healthyImg {
    height: 100%;
    width: 220px;
    object-fit: cover;
}

.healthySmallText {
    background-color: white;
    padding: 10px 0px;
    width: 220px;
    margin-left: 0px;
    margin-top: 0px;
}

.whereToEatCat {
    box-sizing: border-box;
    overflow-x: none;
    padding: 25px;
    width: 85%;
    margin: auto;
}

.whereToEatTitle {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 700;
}

.whereToEatText {
    margin-top: 10px;
    margin-bottom: 23px;
    font-size: 24px;
    font-weight: 400;
}

.whereToEatWrap {
    height: 220px;
    width: 285px;
    border: 7px solid rgb(220, 223, 233);
}

.whereToEatSmallImg {
    height: 100%;
    width: 285px;
}

.whereToEatSmallTxt {
    margin-top: 9px;
}

.begalBurgerContainer {
    display: flex;
}

.bengalBurgerTitle {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 15px;
}

#star {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #9A3B2B;
    margin-top: 5px;
}

.starReview {
    color: black;
    margin-left: 12px;
    font-weight: 700;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 13px;
}

.saveRecipeBttn {
    text-align: center;
    font-size: 15px;
    background-color: #9A3B2B;
    color: white;
    border: none;
    box-sizing: border-box;
    width: 125px;
    padding: 11px 16px;
    margin-right: 24px;
    border-radius: 16px;
}

.printBttn {
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
}

.bengalBurgerBio {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 92%;
    margin: auto;
}

.bengalBurgerBioTxt {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    background-color: #EEF0F4;
    color: #575656;
    padding: 20px 150px;
    margin: 25px 45px 25px 45px;
}

.bengalBurgerRecipeContainer {
    display: flex;
    height: 900px;
    width: 84%;
    margin: auto;
}

.bengalRecipeColumn {
    display: flex;
    flex-direction: column;
}

.bengalRecipeColumn > h2 {
    margin: 0;
}

.bengalRecipeColumn > h3 {
    margin: 0;
    padding-left: 17px;
}

.bengalRecipeIngredients {
    padding-left: 18px;
}

.begnalRecipeSpiceMix {
    align-items: center;
    margin-top: 0px;
    padding-left: 18px;
}

.bengalRecipeDirections {
    width: 55%;
    margin-left: 105px;
}

.bengalRecipeDirectionsTitle {
    margin-left: 25px;
}

.bengalRecipeFirstWord {
    font-weight: 700;
    font-size: 28px;
}

.bengalRecipeSpiceTitle {
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
}

ol > li {
    margin-bottom: 24px;
}

.timingTitle {
    position: relative;
    margin-top: 45px;
}

li > h3 {
    position: absolute;
    top: -23px;
    margin: 0;
}

.burgerVideo {
    display: flex;
    justify-content: center;
    /* margin-bottom: 5px; */
}
.footerContainer {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 168, 78);
}

.ryParisCopyright {
    font-size: 21px;
    margin-left: 115px;
}

.footerNavBar {
    margin-right: 100px;
}

.footerNavMenu {
    font-size: 18px;
    margin-right: 10px;
    color: rgb(47,44,42);
    text-decoration: none;
}